html, body, #layout_container {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	color: #333;
	margin: 0px;
	font-family: "Bitstream Vera Sans", Verdana, Helvetica, sans-serif; 
	font-size: 12px;
	background-image: url('images/header_bg.png');
    background-repeat: repeat-x;
    background-color: #e7e7e7;
    margin: 0px;
    padding: 0px;
}

#Xlayout_message, 
#layout_block {
	Xwidth: 800px;
	Xheight: 600px;
	margin: 200px;
}

#messsage {
	position: absolute;
	border: 1px solid #babdb6;
	Xleft: 10%;
	Xtop: 10%;
	background: white;
	Xwidth: 80%;
	Xheight: 80%;
	display: none;
	z-index: 5;
}

#Xlayout_message #message,
#Xlayout_block #layout_block_center {
	width: 400px;
	border: 1px solid #babdb6;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background: white;
}
.dojoDialog {
	background : #eee;
	border : 1px solid #999;
	-moz-border-radius : 5px;
	padding : 4px;
}

#layout_container {
}

#layout_header {
    height: 80px;
    background-image: url('images/header_bg.png');
    background-repeat: repeat-x;
    padding-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    overflow: visible;
}

#layout_header h1 {
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}

#layout_header #element_search {
	margin-right: 10px;
}

#layout_header a, 
#layout_header #element_search span {
	font-family: "Bitstream Vera Sans", Verdana, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold;
	color: white;
}

#layout_header #element_search input {
	font-size: 14px;
	height: 25px;
	width: 100px;
	background: url('images/id_search_background.png');
	background-position: right;
	background-repeat: no-repeat;
	background-color: white;	
}

#layout_footer {
	display: none;
}

div.input {
	margin-bottom: 5px;
}

#layout_body #core_main {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#core_top {
	
}

#core_top ul {
	margin: 0px;
	list-style: none;
	position: relative;
	top:-6px;
}

#core_top ul li a {
	display: block;
	float: left;
	background: url('images/id_tab.png');
	background-repeat: no-repeat;
	width: 150px;
	height: 35px;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	text-decoration: none;
	font-color: #eeeeec;
}

#element_login {
	border: thin solid #babdb6;
	width: 300px;
	font-size: 14px;
	color: #555753;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

div.submit {
	border: thin solid #babdb6;
	text-align: left;
	width: 100px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	background-color: white;
	background: url('images/id_submit_element.png');
	background-position: bottom right;
	background-repeat: no-repeat;
	line-height: 30px;
	font-weight: bold;
}

div.submit span {
	margin-left: 10px;
}

a {
	color: #0170ff;
}

#element_details {
	Xwidth: 80%;
	font-size: 10px;
	position: relative;
	top:50px;
	Xbottom: 0px;
}

label {
	margin: 2px;
	position: relative;
	width: 120px;
	float: left;
}

#menu {
	text-align: left;
	width: 200px;
	background: #eeeeec;
	line-height: 25px;
	font-weight: bold;
}

#menu ul {
	list-style: none;
	margin: 0px;
	padding: 5px;
}

li.dojoDndItem {
	list-style: none;
	margin: 0px;
	Xwidth: 180px;
}


#menu div.label {
	cursor: pointer;
	font-size: 12px;
}

#menu div.menudiv {
	background-color: #eeeeec;
}

#layout_body {
	Xpadding: 10px;
	overflow: auto;
	background: url('images/gradient.png');
	background-position: top;
	background-repeat: repeat-x;
}

div.hr {
	margin-bottom: 20px;
	height: 2px;
	background: url('images/hr.png');
}

form {
	margin: 0px;
	display: inline;
}

h1, h2, h3, h4, h5 {
	font-family: georgia, "Times New Roman", serif; 
}

h1,h2 {
	margin-top: 0px;
	margin-bottom: 10px;
}

h2 {
	font-size: 1.4em;
}

#main {
	position: relative;
	margin-right: 30px;
}

input.title {
	width: 200px;
	text-align: right;
}

table {
	color: #333;
	margin: 0px;
	font-family: "Bitstream Vera Sans", Verdana, Helvetica, sans-serif; 
	font-size: 12px;
	background: white;
	width: 100%;
}

table tr:hover {
	background: #eeeeec;
}

table td:hover {
	background: #eeeeec;
}

table th {
	font-weight: bold;
	border-bottom: 1px solid #eeeeec;
}	
table th, table td {
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
}	

a.local_link {
	cursor: pointer;
}

fieldset.collapsed {
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
}

fieldset legend {
	text-decoration: underline;
	color: #0170ff;
	cursor: pointer;
}

.dijitTextArea {
	width: 80%;
}

div.error {
	text-align: center;
	font-weight: bold;
}

div.column {
}

div.dijitButtonText {
	width: 120px;
	text-align: left;
}
